@import '~bootstrap/scss/bootstrap';

$background-color: gray;
$button-color: white;
$hover-font-color: #fff;
$text-color: #000;

* {
  letter-spacing: 0.5px;
  user-select: none;
}

.auth-btns {
  position: absolute;
  right: 0;
  top: 0;
}

button {
  background-color: $button-color;
  border: 0;
  border-radius: 8px;
  border-width: thin;
  font-size: 16px;
  text-align: center;
  // width: 50%;

  &:hover {
    background-color: black;
    color: $hover-font-color;
  }
}

body {
  background-color: $background-color;
  margin: 2%;
}

// change password form fields:
.change-password,
.sign-out {
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
  outline: none;
  padding: 16px;
  transition: .5s ease;
  // width: 100%;

  & .input-change-password {
    font-size: 14px;
  }
}

.container {
  margin: 20px auto;
  width: 700px;
}

// .create-account,
// .already-have-account {
//   background: $plantiful-font-color;
//   cursor: pointer;
//   float: left;
//   line-height: 40px;
//   text-align: center;
//   width: 50%;
// }

.column {
  // display: flex;
  // flex-flow: row nowrap;
  float: left;
  padding: 10px;
  width: 50%;
}

.create-stock {
  margin-left: 200px;
  width: 50%;
}

.destroy-stock, {
  background-color: $button-color;
  border: 0;
  border-radius: 8px;
  border-width: thin;
  color: $text-color;
  font-size: 16px;
  font-weight: lighter;
  margin: 3px 3px 4px 6px;
  padding: 1px 6px;
  text-align: center;
}

div {
  padding: 10px;

  > form {
    padding: 10px;
  }
  }

form {
  border: 0;
}

h1 {
  color: white;
  font-weight: lighter;
  letter-spacing: 1px;
  position: sticky;
}

#index-stocks {
  margin: 15px;
  margin-bottom: 5px;
  margin-left: 225px;
}

// form field inputs for sign-up, sign-in, create plant
.input {
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
  padding: 8px;
  transition: .5s ease;
  width: 100%;

  // &.create {
  //   width: 50%;
  // }

  &:focus {
    // border of form field clicked on changes color:
    border: 2px solid black;
  }
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

#message {
  display: flex;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 2px;
  margin: 20px;
}

::placeholder {
  color: black;
}

.stock-list {
  background: $hover-font-color;
  border: .1px;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  margin: 10px;
  margin-left: 150px;
  padding: 5px;
  position: relative;
  width: 50%;

  & h5,
  h6 {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
  }
}

.sign-up {
  float: left;
  height: 60px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.sign-in {

  float: left;
  height: 60px;
  line-height: 40px;
  text-align: center;
  width: 100%;


  &.unauth-form {
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    height: 400px;
    padding: 40px;
    width: 100%;
  }
}

.unauthenticated {
    display: table;
    justify-content: center;
    position: relative;
}

.update-stock {
  margin-left: 45px;
}
